<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Jarl Koha, veebiproge 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1><%= h1 %></h1>
	<ol>
		<!-- teeme ejs tsükkli, mis käib läbi masiivi wisdom. Iga uus vanasõna on sentence-->
		<% entries.forEach(function(data){ %>
				<li><%= data.firstName %> <%= data.lastName %>, mis salvestati: <%= data.date %>.</li>
		<% }); %>
	</ol>
	<hr>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>
