<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Jarl Koha, veebiproge 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Loe uudiseid</h1>
	<hr>
	<ul>
		<li><a href="/news/read">Loe veel uudiseid</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Uudise detailid</h2>
    
    <% if (news) { %>
        <h3><%= news.title %></h3>
        <p>Lisatud: <%= news.created %></p>
        <p><%= news.content %></p>
    <% } else { %>
        <p>News not found</p>
    <% } %>
</body>
</html>